<ion-side-menus enable-menu-with-back-views="true" class="verse-sidemenu" side="right">
  <fader ng-click="openMenu()"></fader>
  <ion-side-menu side="left" width="{{width}}" can-drag-menu>
    <ion-nav-bar class="bar-light">

      <ion-nav-buttons side="left">
        <a ng-class="['button', 'button-icon', 'button-clear', 'ion-ios-home-outline', (activeMenu == 'app.home' ? 'button-active' : '')]" href="#/app/home">
        </a>
        <a ng-class="['button', 'button-icon', 'button-clear', 'ion-ios-cart-outline', (activeMenu == 'app.today' ? 'button-active' : '')]" href="#/app/today">
        </a>
        <a ng-class="['button', 'button-icon', 'button-clear', 'ion-ios-cog-outline', (activeMenu == 'app.favorites' ? 'button-active' : '')]" href="#/app/favorites">
        </a>
        <a ng-class="['button', 'button-icon', 'button-clear', 'ion-ios-paper-outline', (activeMenu == 'app.browse' ? 'button-active' : '')]" href="#/app/browse">
        </a>
        
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-person-outline" menu-toggle="left" menu-close>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
      <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu>  
  <ion-side-menu-content style="width:80%; box-shadow: 0px 0px 50px rgba(0,0,0,.5);">
    <ion-header-bar class="bar-light bar-menu">
      <div class="profile">
        <div class="profile-picture">
          <img src="img/alif.jpg" alt="">
        </div>
        <div class="profile-name">
          Alif Raditya Rochman
        </div>
        <div class="profile-location">
          Bandung, Indonesia
        </div>
      </div>
    </ion-header-bar>
    
    <ion-content class="has-footer has-menu">
      <ion-list class="large-menu">
        <ion-item href="#/app/today" ng-click="openMenu()">
          <img src="img/icon-devotion.png" alt="" class="icon">
          <span>Kontribusiku</span>
        </ion-item>
        <ion-item href="#/app/archives" ng-click="openMenu()">
          <img src="img/icon-archive.png" alt="" class="icon">
          <span>Pencapaian</span>
        </ion-item>
        <ion-item href="#/app/favorites" ng-click="openMenu()">
          <img src="img/icon-favorite.png" alt="" class="icon">
          <span>Berbagi Ke Teman</span>
        </ion-item>
        <ion-item href="#/app/help" ng-click="openMenu()">
          <img src="img/icon-help.png" alt="" class="icon">
          <span>Bantuan</span>
        </ion-item>
        <!-- <ion-item href="#" ng-click="openMenu()">
          <img src="img/icon-setting.png" alt="" class="icon">
          <span>Settings</span>
        </ion-item> -->
      </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-energized bar-point">
      <!-- <h1 class="title">Subscribe Now</h1> -->
      <a href="http://warungsatekamu.org/" class="button button-full button-energized button-footer" target="_blank">
        5000 poin
      </a>    
    </ion-footer-bar>
  </ion-side-menu-content>
</ion-side-menus>